/*
colors used
Darkest green: #35403E
Green gray: #697F7C
Medium green gray: #9EBFBA
Sea foam: BEE5DF
*/
body {
  background-color: #9EBFBA;
  font-family:'open sans', sans-serif;
  font-size: 18px;
  line-height:1.6;
}

img {
  width: 100%;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
a {
  color: #000000;
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}
a:visited {
  /* visited link */
  color: #464646;
}

a:active {
  /* selected link */
  color: #9EBFBA;
}
a:hover,
a:focus {
  text-decoration: none;
}

.p {
  text-align:center;
}
button,
  a.button{
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: #35403E;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c; /* width of the border, type, color */
  transition: 0.9s opacity;
}
button:hover,
.button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}
.center {
  text-align: center;
}
/* Layout styling */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

.column-4 {
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  float: left;
  text-align: center;
  vertical-align: top;
}
.column-4:last-child {
margin-right: 0;
}
.logo {
  display:inline-block;
  margin-top: 15px;
}
.navigation > li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  list-style-type: none;
  padding: 0;
  float:right;

}

.active {
  background-color: #BEE5DF;
}

h1 {
  font-size: 30px;
  text-align: center; /* Centers text */
}

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }

  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }
}
.column-4:nth-child(2) {
margin-right: 0;
}

.headerbox {
  border-style:solid;
  border-width: 2px;
  padding:15px;
  background-color: hsl(0, 0%, 50%);
}

li a.active {
  background-color: #35403E;
  color: white;
}
@keyframes color-change {
  0% {fill: #EDC655;}
  50% {fill: #fcffad}
  100% {fill: #f76414}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 10s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-duration: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.cloud-back {
  animation:34s cloud-move-reverse infinite alternate linear;
}

.project {
  position:relative;
}

.project-details {
  display:none;
  position:absolute;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  background: rgba (5, 103, 110, 0.5);
}
